{% load static%}
{% load crispy_forms_tags %}
<!--{% block title %}{% endblock title %}-->
  {% block content %}   
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Vendor CSS Files -->
    <link href="{% static  'assets/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{% static  'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static  'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static  'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static  'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static  'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
        
        <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static  'assets/css/style.css' %}" >

   </style>
</head>
<body>
    
        <!--<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>-->
     
        <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static  'assets/css/style.css' %}" >

    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="{% static 'assets/img/Thelogin.jpg' %}" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <h2 class="fw-bold mb-5">Login</h2>
              <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form1Example13" class="form-control form-control-lg" />
                  <label class="form-label" for="form1Example13">Email address</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form1Example23" class="form-control form-control-lg" />
                  <label class="form-label" for="form1Example23">Password</label>
                </div>
      
                <div class="d-flex justify-content-around align-items-center mb-4">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                  </div>
                  <a href="#!">Forgot password?</a>
                </div>
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
      
              </form>
            </div>
          </div>
        </div>
      </section>
    </body>
      {% endblock content %}


 